@page "/"
@using Microsoft.AspNetCore.Authorization
@inject IHttpContextAccessor httpContextAccessor
<PageTitle>Home</PageTitle>
<h1>Dashboard</h1>
<p>KPI placeholders will appear here.</p>

@code {
    protected override Task OnInitializedAsync()
    {
        var context = httpContextAccessor.HttpContext;
        return base.OnInitializedAsync();
    }
}
