@page "/"
@using Microsoft.AspNetCore.Authorization
@inject IHttpContextAccessor httpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<FinanceManager.Web.Components.Pages.Home> Localizer
<PageTitle>@Localizer["PageTitle"]</PageTitle>
<h1>@Localizer["PageTitle"]</h1>
<p>KPI placeholders will appear here.</p>

@code {
    protected override Task OnInitializedAsync()
    {
        var context = httpContextAccessor.HttpContext;
        return base.OnInitializedAsync();
    }
}
